<div class="">
    <div class="row">
        <div class="col-md-2 p-4">
            <div class="form">
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" class="form-control form-input" placeholder="Search anything...">
            </div>

            <div>
                <ul>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                TBD
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                TBD
                            </label>
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="border-bottom"></div>
                    <ul class="list-group">
                        <label for="customRange1" class="form-label">Price Range</label>
                        <input type="range" class="form-range" id="customRange1">
                    </ul>
                </div>
                <div>
                    <ul class="list-group">
                        <label for="customRange1" class="form-label">Miles Away</label>
                        <input type="range" class="form-range" id="customRange1">
                    </ul>
                </div>
            </div>

            <div>
                <ul>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                TBD
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                TBD
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                TBD
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                TBD
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                TBD
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 p-4">
            <div class="row mb-5">
                <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8]">
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-white">+ Add</button>
                            <img src="/assets/fruits.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">$1.99</h5>
                                <h5 class="card-title text-center">Fruits!</h5>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row">
                <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8]">
                    <div class="col">
                        <div class="card">
                            <button class="btn btn-white">+ Add</button>
                            <img src="/assets/fruits.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">$1.99</h5>
                                <h5 class="card-title text-center">Fruits!</h5>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>