<div class="container position-relative text-center">
    <footer class="d-flex justify-content-between my-5 text-start flex-wrap">
        <ul class="nav flex-column">
            <li class="fw-bold nav-item">
                <a href="/" class="nav-link" [ngClass]="darkmode ? 'text-light' : 'text-dark'">
                    Product
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Grocery
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Stores
                </a>
            </li>
            <!-- <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Accessories
                </a>
            </li> -->
        </ul>
        <ul class="nav flex-column">
            <li class="fw-bold nav-item">
                <a href="/" class="nav-link" [ngClass]="darkmode ? 'text-light' : 'text-dark'">
                    Help
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Shopping Guide
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Product Care
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Contact Us
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Return Process
                </a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="fw-bold nav-item">
                <a href="/" class="nav-link text" [ngClass]="darkmode ? 'text-light' : 'text-dark'">
                    Content
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    FAQs
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Shipping Process
                </a>
            </li>
            <li class="nav-item">
                <!-- <a href="/" class="nav-link text-muted">
                    Pressroom
                </a> -->
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="fw-bold nav-item">
                <a href="/" class="nav-link" [ngClass]="darkmode ? 'text-light' : 'text-dark'">
                    Terms & Conditions
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Legal Notice
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Terms Of Use
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Privacy Policy
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-muted">
                    Cookies Policy
                </a>
            </li>
        </ul>
    </footer>
</div>