<div class="container p-5">
    <div class="card h-100">
        <h1 class="display-4 text-center">
            About Us
        </h1>
        <div class="card-body">
            <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. In deserunt
                voluptatibus praesentium vitae
                natus,
                quisquam corrupti rerum explicabo. Repellendus in ipsum earum amet harum facere cum aperiam nulla!
                Rerum,
                dolorem!
                Ad et libero placeat officiis fugit voluptatem quia accusantium voluptas sint, perferendis quas
                asperiores
                saepe
                nisi obcaecati. Consectetur eligendi sequi nihil animi quaerat accusamus eum. Temporibus delectus
                dolorum id
                aut.</p>
        </div>
    </div>
</div>
<div class="container p-5">
    <div class="row gy-10 d-flex justify-content-evenly">
        <div class="col col-lg-4">
            <div class="card h-100">
                <div class="text-center">
                    <div class="img-hover-zoom img-hover-zoom--colorize">
                        <img class="shadow"
                            src="https://media.licdn.com/dms/image/D4E03AQHABmKveHLewQ/profile-displayphoto-shrink_200_200/0/1680968795259?e=1703721600&v=beta&t=-MPvD1cRg4TWqETxjm6wolhEprs2ZGukZkPzyzwyTOc">
                    </div>
                </div>
                <div class="card-body">
                    <div class="clearfix mb-3"></div>
                    <div class="my-2 text-center">
                        <h1>Leo Kostin</h1>
                    </div>
                    <div class="mb-3">
                        <h2 class="text-uppercase text-center role">Software Engineer</h2>
                    </div>
                    <div class="box">
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="https://github.com/leok-20" target="_blank"><i
                                            class="fab fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/leonidkostin/"
                                        target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card h-100">
                <div class="text-center">
                    <div class="img-hover-zoom img-hover-zoom--colorize">
                        <img class="shadow"
                            src="https://media.licdn.com/dms/image/C4E03AQHZ0SjRcDiKYg/profile-displayphoto-shrink_200_200/0/1570676197258?e=1703721600&v=beta&t=vwuucayhcf_7jglW6w8MxDM_NAdQOTI9Xkz98NIM5fk">
                    </div>
                </div>
                <div class="card-body">
                    <div class="clearfix mb-3"></div>
                    <div class="my-2 text-center">
                        <h1>Ryan Glaspey</h1>
                    </div>
                    <div class="mb-3">
                        <h2 class="text-uppercase text-center role">Intern Software Engineer</h2>
                    </div>
                    <div class="box">
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="https://github.com/Falcinspire" target="_blank"><i
                                            class="fab fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/ryan-glaspey/"
                                        target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>